/*Import Google Font*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}
